.header {
    position: relative;
    padding: 65px 85px 0;
    width: 100%;
    height: 1570px;
    background: url(../img/bg/header_bg.jpg) center top 65% no-repeat;
    &__wrapper {
        position: relative;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__search {
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(../img/bg/cart.svg);
            top: 5px;
            right: 69px;
        }
    }
    .menu {
        &__list {
            margin: 0;           
            display: flex;
        }
        &__item {
            margin-left: 50px;
            list-style-type: none;
        }
        &__link {
            font-weight: 600;
            font-size: 18px;
            &:hover {
                text-decoration: none;
                color: $main-color;
            }
        }
    }
    &__promo {
        position: relative;
        max-width: 950px;
        left: 500px;
        padding-top: 200px;        
    } 
    &__top-text {
        @include top_text; 
    }
    &__subtitle {
        margin-top: 30px;
        font-weight: 700;
        font-size: 96px;
    }
    &__arrow {
        position: relative;
        top: 125px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        font-size: 18px;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
        &:after {
            content: '';
            position: absolute;
            width: 16px;
            height: 24px;
            background-image: url(../img/header/arrow_down.svg);
            top: 0px;
            right: -25px;
        }
    }  
}